.collb-first-scr-flex-div{
    display: flex;
    justify-content: center;
}

.collb-first-scr-width-div{
    width: 100%;
}

.collb-first-scr-main-div-flex{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.collb-first-scr-main-div-one{
    display: block;
}

.collb-first-scrn-sub-div-one{
    display: flex;
    gap: 10px;
}

.collb-first-scrn-sub-div-two{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.collb-f-scr-sd-one-part-one{
    background-color: rgba(250, 211, 218, 0.986);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.collb-f-scr-sd-one-part-one-sec-one{
    display: flex;
    align-items: center;
    gap: 5px;
}
.collb-f-scr-sd-one-part-one-sec-two{
    display: flex;
    align-items: center;
    gap: 5px;
    border-left: 2px solid black;
    padding-left: 5px;
}
.comp-logo-img-in-collb{
    height: 25px;
    width: 25px;
}

.collb-f-scr-sd-one-part-two{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.collb-f-scr-sd-one-part-three{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.collb-f-scr-sd-one-part-four{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.collb-f-scr-four-div{
    display: block;
    line-height: 1;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 12px;
    border: 1 px solid black;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.collb-first-scr-main-div-two{
    display: block;
    
}
.collb-first-scr-main-div-two-sub-div-one{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    display: block;
    justify-content: center;
    margin-bottom: 10px;
}
.time-hours-main-div-one{
    display: flex;
    gap: 15px;
    padding-bottom: 5px;
}
.time-hours-main-div-one-sub-one{
    text-align: right;
    line-height: 0.4;
}

.time-hours-main-div-one-sub-two{
    text-align: left;
    line-height: 0.4;
    border-left: 1px solid black;
    padding-left: 15px;
    height: 60px;
    align-items: center;
}

.collb-first-scr-main-div-two-sub-div-one h3{
    text-align: center;
}

.hor-bar-graph-comp-div{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.hor-bar-graph-main-div p{
    font-weight: 600;
}